timm==0.9.8
objprint==0.2.3
accelerate==0.18.0
pandas==2.3.2
setuptools==68.2.2
safetensors
tensorboard
easydict
SimpleITK
monai
itk
pydicom
pylibjpeg
pylibjpeg-libjpeg
pylibjpeg-openjpeg
pyyaml
opencv-python
openpyxl
tqdm
termcolor
scikit-learn
scikit-image
einops
ninja
transformers==4.28.1
matplotlib
